<html>

<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>

   <script>

        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
        }

    </script>
    <p id = "th"> </p>

 <script>

        // Previous if/else statement removed for brevity
        //window.ethereum.enable();
        console.log(web3.version);
        try {
      var accounts =  window.ethereum.send("eth_requestAccounts");
    } catch (err) {
      console.log("User cancelled");
      console.log(err);
    }
        console.log(accounts);
        web3.eth.defaultAccount = accounts[0];

        // web3.eth.defaultAccount = web3.eth.accounts[0];
        // var userAccount = null;
        // web3.eth.getAccounts(async function(error, accounts) {
        //
        //         if (error == null && accounts.length > 0) {
        //           userAccount = accounts[0];
        //         }
        //     });
        // console.log(userAccount);
        // web3.eth.defaultAccount

        //paste your abi function here
        var DigitalRECContract = new web3.eth.Contract([
	{
		"constant": false,
		"inputs": [
			{
				"name": "to",
				"type": "address"
			},
			{
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "approve",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "RECid",
				"type": "uint256"
			}
		],
		"name": "buyREC",
		"outputs": [],
		"payable": true,
		"stateMutability": "payable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "stateID",
				"type": "uint256"
			},
			{
				"name": "price",
				"type": "uint256"
			}
		],
		"name": "mintToken",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [],
		"name": "renounceOwnership",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "from",
				"type": "address"
			},
			{
				"name": "to",
				"type": "address"
			},
			{
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "safeTransferFrom",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "from",
				"type": "address"
			},
			{
				"name": "to",
				"type": "address"
			},
			{
				"name": "tokenId",
				"type": "uint256"
			},
			{
				"name": "_data",
				"type": "bytes"
			}
		],
		"name": "safeTransferFrom",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "to",
				"type": "address"
			},
			{
				"name": "approved",
				"type": "bool"
			}
		],
		"name": "setApprovalForAll",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "from",
				"type": "address"
			},
			{
				"name": "to",
				"type": "address"
			},
			{
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "transferFrom",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_from",
				"type": "address"
			},
			{
				"name": "_to",
				"type": "address"
			},
			{
				"name": "_RECId",
				"type": "uint256"
			}
		],
		"name": "transferOwnership",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "newOwner",
				"type": "address"
			}
		],
		"name": "transferOwnership",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"name": "previousOwner",
				"type": "address"
			},
			{
				"indexed": true,
				"name": "newOwner",
				"type": "address"
			}
		],
		"name": "OwnershipTransferred",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"name": "from",
				"type": "address"
			},
			{
				"indexed": true,
				"name": "to",
				"type": "address"
			},
			{
				"indexed": true,
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "Transfer",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"name": "owner",
				"type": "address"
			},
			{
				"indexed": true,
				"name": "approved",
				"type": "address"
			},
			{
				"indexed": true,
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "Approval",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"name": "owner",
				"type": "address"
			},
			{
				"indexed": true,
				"name": "operator",
				"type": "address"
			},
			{
				"indexed": false,
				"name": "approved",
				"type": "bool"
			}
		],
		"name": "ApprovalForAll",
		"type": "event"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "owner",
				"type": "address"
			}
		],
		"name": "balanceOf",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "count",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "getApproved",
		"outputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "owner",
				"type": "address"
			},
			{
				"name": "operator",
				"type": "address"
			}
		],
		"name": "isApprovedForAll",
		"outputs": [
			{
				"name": "",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "isOwner",
		"outputs": [
			{
				"name": "",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "owner",
		"outputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "ownerOf",
		"outputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"name": "ownerRECCount",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"name": "RECs",
		"outputs": [
			{
				"name": "stateID",
				"type": "uint256"
			},
			{
				"name": "owner",
				"type": "address"
			},
			{
				"name": "price",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "_owner",
				"type": "address"
			}
		],
		"name": "RECsOwned",
		"outputs": [
			{
				"name": "_ownedRECIds",
				"type": "uint256[]"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"name": "RECToOwner",
		"outputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "interfaceId",
				"type": "bytes4"
			}
		],
		"name": "supportsInterface",
		"outputs": [
			{
				"name": "",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	}
], '0x0AC1237d4771ead25e4ACf3aAce6b86101c0DDa1', {from: "0xe3067ef4adfcb8ef9585cb2c46ff8ae88af9aeea"});


        //paste your contract address here.
        //var DigitalREC = DigitalRECContract.at('0x8bF0b37fD51BBb87e9CE6fb706dBd4c60a36012F');
        console.log("look");
        console.log(DigitalRECContract);
        console.log(typeof DigitalREC);

        //"0xe3067ef4adfcb8ef9585cb2c46ff8ae88af9aeea"
        console.log(web3.eth.defaultAccount);
        var retReceipt;
        var retTH;
//         DigitalRECContract.methods.mintToken(333,4).send({from: "0xe3067ef4adfcb8ef9585cb2c46ff8ae88af9aeea"}).once('transactionHash', function(hash){
//             retTH = hash;
//             console.log("HIIIII");
//          })
// .then(function(receipt){
//     var retReceipt = receipt;
// });
var hasht;
var state_id = 333;
// DigitalRECContract.methods.mintToken(333,4).send({from: "0xe3067ef4adfcb8ef9585cb2c46ff8ae88af9aeea"}).on('transactionHash', function(hash){
//         console.log(hash);
//         console.log("HIII");
//         hasht = hash;
//         alert("Your REC " + state_id +  " has been successfully put into the blockchain. This is the transaction hash " + hasht);
// });

// then(function (txnHash) {
// // now you have the unmined transaction hash, return receipt promise
// console.log("HIIIII");
// console.log(txnhash); // follow along
// //return web3.eth.getTransactionReceiptMined(txnHash);
// });
// .then(function (receipt) {
// // now you have the mined transaction receipt as "receipt"
// console.log(receipt); // explore it :-)
// // carry on with the next step
// return meta.getBalance.call(account_two);
// })



    </script>
  <head>
    <!-- Using Booptstrap 4 to center align everything -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <row class="text-center">
      <h1>Welcome to Renewa {{ name }}!</h1>
    </row>

    <row class="text-center", align = "center">
      <form action = "http://localhost:5000/uploadpage" method = "get">

        <row>
          <col>
            <p><input type = "submit" value = "upload an REC to the market place" /></p>
          </col>
        </row>
      </form>
      <form action = "http://localhost:5000/purchasepage" method = "get">

        <row>
          <col>
            <p><input type = "submit" value = "purchase RECs" /></p>
          </col>
        </row>
      </form>
      <form action = "http://localhost:5000/viewpage" method = "get">

        <row>
          <col>
            <p><input type = "submit" value = "view owned RECs" /></p>
          </col>
        </row>
      </form>
    </row>

    <script>
    var acc= {{ acc | safe }};

    localStorage.setItem("ContInst", JSON.stringify(DigitalRECContract));
    localStorage.setItem("acc", JSON.stringify(acc));


      </script>
    </body>
</html>
