<html>

   <body>
      <form action = "http://localhost:5000/login" method = "post">

         <p  style="text-align:center;" >Enter Name:</p>
         <p  style="text-align:center;"><input type = "text" name = "nm" /></p>


         <p  style="text-align:center;">Enter ethereum address/ public key:</p>
         <p  style="text-align:center;"><input type = "text" name = "acc" /></p>


         <p  style="text-align:center;"><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>
